In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns

from collections import Counter

In [2]:
df = pd.read_csv(r"F:\Pandas Project 2024\Pandas DataSets\iris.csv")
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [3]:
# There is no need for id so lets drop it
df.drop(['Id'],axis = 1,inplace = True)

In [4]:
df.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa

In [5]:
# Seperate the data and label 
data = df.drop(['Species'],axis = 1)
data.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2

In [6]:
label = df['Species']
label.head(2)
label.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
# To make the analysis let convert the labels into int
mapLabel = label.replace({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})
mapLabel.unique()

C:\Users\Ozair Khan\AppData\Local\Temp\ipykernel_5248\3637499531.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mapLabel = label.replace({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

array([0, 1, 2])

In [12]:
mapLabel.info()

<class 'pandas.core.series.Series'>
RangeIndex: 150 entries, 0 to 149
Series name: Species
Non-Null Count  Dtype
--------------  -----
150 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB